<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
" default-lazy-init="true">

<!--

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        &lt;!&ndash; 使用下面配置的缓存管理器 &ndash;&gt;
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    &lt;!&ndash;自定义Realm&ndash;&gt;
    <bean id="myRealm" class="com.shiro.realm.MyRealm"/>

    &lt;!&ndash; 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 &ndash;&gt;
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        &lt;!&ndash; 调用我们配置的权限管理器 &ndash;&gt;
        <property name="securityManager" ref="securityManager"/>
        &lt;!&ndash; 配置我们的登录请求地址 &ndash;&gt;
        <property name="loginUrl" value="/login.jsp"/>
        &lt;!&ndash; 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 &ndash;&gt;
        &lt;!&ndash;<property name="successUrl" value="/user.html"/>&ndash;&gt;
        &lt;!&ndash; 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 &ndash;&gt;
        <property name="unauthorizedUrl" value="/authorizuned.jsp"/>
        &lt;!&ndash; 权限配置 &ndash;&gt;
        &lt;!&ndash;<property name="filterChainDefinitionMap" ref="chainDefinitionSectionMetaSource"/>&ndash;&gt;

        <property name="filterChainDefinitions">
            <value>
                /index.jsp = anon
                /login = anon
                /authorizuned.jsp = anon
                /login.jsp = authc
                /logout = logout
                /** = user
            </value>
        </property>
    </bean>
    &lt;!&ndash;自定义filterChainDefinitionMap&ndash;&gt;
    &lt;!&ndash;<bean id="chainDefinitionSectionMetaSource" class="com.etop.shiro.ChainDefinitionSectionMetaSource"/>&ndash;&gt;
    &lt;!&ndash;shiro缓存管理器&ndash;&gt;
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
-->

</beans>
